<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Location</title>
	<script src="/js/jquery-2.1.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
	<script>
		'use strict';
		$(() => {
			let socket = io('<%= host %>' + '/location_one_user');
      let newRoomInputX = $("input[name='locationx']");
			let newRoomInputY = $("input[name='locationy']");

			let renderNewLocation = location => {
				let locationListDiv = $('#locationListUL');
				console.log(location);
				if (location) {
					let listStr = `x = ${location.latitude} - y = ${location.longitude}`
					locationListDiv.html('').append(listStr);
				}
			}

			socket.emit('get_location');
			socket.on('get_location_callback', location => {
				console.log(location);
				renderNewLocation(JSON.parse(location));
			});

			$('#createBtn').on('click', () => {
				// emit
				if (newRoomInputX.val() != '' && newRoomInputY.val() != '') {
          let newLatlng = {
            latitude: newRoomInputX.val(),
            longitude: newRoomInputY.val(),
						_id: '58d71877f677991fe0bf574f'	// dummy users
          }

					console.log(newLatlng);
					socket.emit('set_location', newLatlng);
          newRoomInputX.val('');
					newRoomInputY.val('');
				}
			});
		});
	</script>
</head>
<body>
	<h1>Location One User</h1>
	<a href="/auth/logout" id="logOutBtn">Logout</a>
	<div class="controls">
		<input type="text" name="locationx" placeholder="location x">
		<input type="text" name="locationy" placeholder="location y">
		<a href="#" id="createBtn">Create</a>
	</div>
	<ul class="roomsList" id="locationListUL">
</body>
</html>
