<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Location</title>
	<link rel="stylesheet" href="/css/roomsStyles.css">
	<script src="/js/jquery-2.1.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
	<!-- <script src="babel.min.js"></script> -->
	<script>
		'use strict';
		$(() => {
			let socket = io('<%= host %>' + '/locations');
      let newRoomInputX = $("input[name='locationx']");
			let newRoomInputY = $("input[name='locationy']");

			let renderNewLocation = location => {
				let locationListDiv = $('#locationListUL');
				console.log(location);
				if (location) {
					let listStr = `x = ${location.x} - y = ${location.y}`
					locationListDiv.html('').append(listStr);
				}
			}

			socket.emit('getCurrentLocation');
			socket.on('getLocation', location => {
				renderNewLocation(JSON.parse(location));
			});

			$('#createBtn').on('click', () => {
				if (newRoomInputX.val() != '' && newRoomInputY.val() != '') {
          let newLocation = {
            x: newRoomInputX.val(),
            y: newRoomInputY.val()
          }

					console.log(newLocation);
					socket.emit('newLocation', newLocation);
          newRoomInputX.val('');
					newRoomInputY.val('');
				}
			});
		});
	</script>
</head>
<body>
	<div class="container">
		<div class="titlePanel">
			<h1>Location</h1>
		</div>
		<div class="controls">
			<div class="userPicHolder"><img src="<%= user.profilePic %>" alt="John Doe"></div>
			<p class="userName"><%= user.fullName %></p>
			<a href="/auth/logout" id="logOutBtn">Logout</a>
		</div>
		<div class="controls">
      <input type="text" name="locationx" placeholder="location x">
			<input type="text" name="locationy" placeholder="location y">
			<a href="#" id="createBtn">Create</a>
		</div>
		<div class="roomsListDiv">
			<ul class="roomsList" id="locationListUL">
			</ul>
		</div>
	</div>
</body>
</html>
